#
# Logical Preferences generated for Lattice by Synplify map202003lat, Build 172R.
#

# Period Constraints 
FREQUENCY PORT "ipClk" 50.0 MHz;
#FREQUENCY NET "Counter_reveal_coretop_instance/jtck[0]" 200.0 MHz;


# Output Constraints 

# Input Constraints 

# Point-to-point Delay Constraints 



# Block Path Constraints 

BLOCK ASYNCPATHS;

# End of generated Logical Preferences.
